{:data
 [{:data [],
   :date "Ma 29.12",
   :date_en "Mon 29.12",
   :date_sv "Mån 29.12",
   :message nil}
  {:data [],
   :date "Ti 30.12",
   :date_en "Tue 30.12",
   :date_sv "Tis 30.12",
   :message nil}
  {:data
   [{:ingredients
     "Turskaa (MSC-sertifioitua), vehnää, kasviöljyä, vettä, tärkkelystä, maissijauhoa, suolaa, sakeuttamisainetta (E461), muunneltua tärkkelystä, riisijauhoa, sokeria, vehnägluteenia, nostatusaineita (E450, E500, E503), hiivaa, stabilointiainetta (E415).\r\nKermaviiliä, mustapippuria, sokeria, suolaa, sitruunaa, tilliä.",
     :meta {:0 ["L" "[S]"], :1 [], :2 []},
     :name "Seilorin turskaa, tilli-kermaviilikastiketta",
     :name_en "Sailors cod, dil-sour cream sauce",
     :name_sv "Sjömanstorsk, dill-gräddfilssås",
     :nutrition
     "energiaa 177 kcal (739 kJ), hiilihydraattia 12g, proteiinia 9g, rasvaa 11g.",
     :price
     {:name "Metropolia Edullisesti",
      :value
      {:contract "5.40",
       :graduate "4.54",
       :graduate_hyy "0.00",
       :normal "7.50",
       :student "2.60",
       :student_hyy "0.00"}}}
    {:ingredients
     "Naudanlihaa (suomi), kasvimargariinia, tomaattia, sipulia, valkosipulia, vehnäjauhoa, vettä, laakerinlehtiä, maustepippuria, lihaliemijauhetta, mustapippuria,  suolaa, porkkanaa, herkkusieniä, hillosipulia, alkoholitonta punaviiniä, punaviinietikkaa.",
     :meta {:0 ["M" "[S]" "V"], :1 ["valkosipulia"], :2 []},
     :name "Burgundin pataa",
     :name_en "Beef Burgundy",
     :name_sv "Burgundisk oxgryta",
     :nutrition
     "energiaa 101kcal (423kJ), hiilihydraattia 5g, rasvaa 4g, proteiinia 10g.",
     :price
     {:name "Metropolia Edullisesti",
      :value
      {:contract "5.40",
       :graduate "4.54",
       :graduate_hyy "0.00",
       :normal "7.50",
       :student "2.60",
       :student_hyy "0.00"}}}
    {:ingredients
     "Vettä, kookosmaitoa, porkkanaa, soijaa, paprikaa, kikhernettä, omenaa, purjosipulia, soijakastiketta, maissitärkkelystä, currytahnaa [sis.sitruunaruohoa, sipula, chiliä, galangalia, vettä, suolaa, valkosipulia, korianteria, kaffirlimeä], rypsiöljyä, kasvisliemijauhetta [kasvikset (porkkana, palsternakka, sipuli, purjosipuli), suola, hiivauute, palmurasva, glukoosisiirappi, persiljauute, kurkuma, mustapippuriaromi, riisijauho, maltodekstriini]",
     :meta
     {:0 ["G" "K" "L" "M" "[S]" "SO" "V" "VE"],
      :1 ["soijaa" "valkosipulia"],
      :2 ["Ilmastovalinta"]},
     :name "Soijaa thaikastikkeessa",
     :name_en "Soya in Thai sauce",
     :name_sv "Soja i thaisås",
     :nutrition
     "energiaa 99kcal (414kJ), hiilihydraattia 10g, rasvaa 5g, proteiinia 4g",
     :price
     {:name "Metropolia Kasvis",
      :value
      {:contract "5.00",
       :graduate "4.54",
       :graduate_hyy "0.00",
       :normal "6.10",
       :student "2.60",
       :student_hyy "0.00"}}}],
   :date "Ke 31.12",
   :date_en "Wed 31.12",
   :date_sv "Ons 31.12",
   :message nil}
  {:data
   [{:ingredients
     "Vettä, broileria (suomi), ananasta, purjosipulia, rypsiöljyä, vehnäjauhoa, kanaliemijauhetta [suola, glukoosisiirappi, hiivauute, sokeri, kana-aromi, jauhettu kananliha [1,7 %], curry, kurkuma, riisijauho, hapettumisenestoaine (rosmariiniuute)], currya, chilijauhetta, suolaa.",
     :meta {:0 ["L" "M" "[S]"], :1 [], :2 []},
     :name "Broileri-ananaskastiketta",
     :name_en "Chicken-pineapple sauce",
     :name_sv "Broiler-ananassås",
     :nutrition
     "energiaa 77kcal (320kJ), hiilihydraattia 5g, rasvaa 2g, proteiinia 10g.",
     :price
     {:name "Metropolia Edullisesti",
      :value
      {:contract "5.40",
       :graduate "4.54",
       :graduate_hyy "0.00",
       :normal "7.50",
       :student "2.60",
       :student_hyy "0.00"}}}
    {:ingredients
     "Sipulia, chiliä, rypsiöljyä, tomaattia, jalapenoa, chilitomaattikastiketta [sis. tomaattia, sokeria, vettä, viinietikkaa, muunneltua maissitärkkelystä, suolaa, sipulia, happoa (E260), yrttejä ja mausteita (piri-piri (chili), muskottipähkinää, valkosipulia], mustapippuria, kasvisliemijauhetta, suolaa, kasvirasvavalmistetta [sis. vettä, maitoa, rypsiöljyä, kovetettua kasvirasvaa, muunneltua tärkkelystä, emulgointiainetta (E472e kasvirasvapohjainen), stabilointiainetta (guarkumia), maltodekstriinia, sokeria, happamuudensäätöainetta (natriumsitraatit), laktaasientsyymiä, aromia, väriä (betakaroteenia)], maissitärkkelystä, vettä, perunaa, bataattia, kesäkurpitsaa, paprikaa, papua, juustoa,",
     :meta
     {:0 ["G" "K" "L" "PÄ" "[S]" "V"],
      :1 ["pähkinää" "valkosipulia"],
      :2 ["Ilmastovalinta"]},
     :name "Chili-kasvisvuokaa",
     :name_en "Chili-vegetable casserole",
     :name_sv "Chili-grönsakslåda",
     :nutrition
     "energiaa 113kcal (472kJ), hiilihydraattia 13g, rasvaa 5g, proteiinia 4g.",
     :price
     {:name "Metropolia Kasvis",
      :value
      {:contract "5.00",
       :graduate "4.54",
       :graduate_hyy "0.00",
       :normal "6.10",
       :student "2.60",
       :student_hyy "0.00"}}}],
   :date "To 01.01",
   :date_en "Thu 01.01",
   :date_sv "Tors 01.01",
   :message nil}
  {:data
   [{:ingredients
     "Broilerin- ja porsaanlihaa (suomi), muskottipähkinää, sipulia, mustapippuria, korianteria, valkosipulia, kasviproteiinia (herne), perunajauhoja, glukoosia, kaurakuitua, korppujauhoja (vehnä), happamuudensäätöaineita (E262, kaliumlaktaatti), suolaa, sokeria, sitruuna-aromia, margariinia, lihaliemijauhetta [glukoosisiirappi, suola, sokeri, lihauute [6,3 %], hiivauute, maltodekstriini, happo (sitruunahappo), palmurasva, väriaine (E 150c), mustapippuriaromi], viherpippuria, maustepippuria, sokerikulööriä.",
     :meta {:0 ["L" "PÄ" "[S]"], :1 ["pähkinää"], :2 []},
     :name "Jauhelihapihvit, pippurikastiketta",
     :name_en "Minced meat burgers, pepper sauce",
     :name_sv "Köttfärsbiffar, pepparsås",
     :nutrition
     "energiaa 139kcal (582kJ), hiilihydraattia 11g, rasvaa 8g, proteiinia 6g.",
     :price
     {:name "Metropolia Edullisesti",
      :value
      {:contract "5.40",
       :graduate "4.54",
       :graduate_hyy "0.00",
       :normal "7.50",
       :student "2.60",
       :student_hyy "0.00"}}}
    {:ingredients
     "Tofua, paprikaa, kesäkurpitsaa, kaalia, kidney-papua, rypsiöljyä, tomaattia, valkosipulia, sipulia, sokeria, inkivääriä, currya, soijakastiketta, chiliä, omenaviinietikkaa, maissitärkkelystä.",
     :meta
     {:0 ["G" "K" "L" "M" "[S]" "SO" "V" "VE"],
      :1 ["valkosipulia"],
      :2 ["Ilmastovalinta"]},
     :name "Tofuwokkia",
     :name_en "Wok with tofu",
     :name_sv "Wok med tofu",
     :nutrition
     "energiaa 70kcal (303kJ), hiilihydraattia 7g, rasvaa 3g, proteiinia 4g.",
     :price
     {:name "Metropolia Kasvis",
      :value
      {:contract "5.00",
       :graduate "4.54",
       :graduate_hyy "0.00",
       :normal "6.10",
       :student "2.60",
       :student_hyy "0.00"}}}],
   :date "Pe 02.01",
   :date_en "Fri 02.01",
   :date_sv "Fre 02.01",
   :message nil}
  {:data [],
   :date "La 03.01",
   :date_en "Sat 03.01",
   :date_sv "Lör 03.01",
   :message nil}
  {:data [],
   :date "Su 04.01",
   :date_en "Sun 04.01",
   :date_sv "Sön 04.01",
   :message nil}
  {:data [],
   :date "Ma 05.01",
   :date_en "Mon 05.01",
   :date_sv "Mån 05.01",
   :message nil}
  {:data [],
   :date "Ti 06.01",
   :date_en "Tue 06.01",
   :date_sv "Tis 06.01",
   :message nil}
  {:data [],
   :date "Ke 07.01",
   :date_en "Wed 07.01",
   :date_sv "Ons 07.01",
   :message nil}
  {:data [],
   :date "To 08.01",
   :date_en "Thu 08.01",
   :date_sv "Tors 08.01",
   :message nil}
  {:data [],
   :date "Pe 09.01",
   :date_en "Fri 09.01",
   :date_sv "Fre 09.01",
   :message nil}
  {:data [],
   :date "La 10.01",
   :date_en "Sat 10.01",
   :date_sv "Lör 10.01",
   :message nil}
  {:data [],
   :date "Su 11.01",
   :date_en "Sun 11.01",
   :date_sv "Sön 11.01",
   :message nil}],
 :information
 {:address "Onnentie 18",
  :bistro
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :name "",
   :regular
   [{:close "",
     :open "",
     :when [false false false false false false false]}]},
  :business
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :regular
   [{:close "14:00",
     :open "08:00",
     :when ["Ma" "Ti" "Ke" "To" "Pe" false false]}]},
  :city "Helsinki",
  :description
  "Esteettömyys<br />- sisäänkäynti : esteetön sisäänkäynti rakennuksen takaa, hissiyhteys ravintolatiloihin.<br />- inva-wc : aulatilassa.",
  :description_en
  "Disabled access<br />-entry: direct lift to restaurant from the back of the building.<br />-toilet for disabled in the lobby.",
  :description_sv
  "Tillgänglighet för funktionshindrade<br />-ingång: från byggnadens bakdel hiss till restaurangen.<br />-invalidtoalett i lobbyn.",
  :ilta nil,
  :lounas
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :regular
   [{:close "13:00",
     :open "10:30",
     :when ["Ma" "Ti" "Ke" "To" "Pe" false false]}]},
  :restaurant "Onnentie",
  :zip "00600"},
 :status "OK"}
