{:data
 [{:data [],
   :date "Ma 29.12",
   :date_en "Mon 29.12",
   :date_sv "Mån 29.12",
   :message nil}
  {:data [],
   :date "Ti 30.12",
   :date_en "Tue 30.12",
   :date_sv "Tis 30.12",
   :message nil}
  {:data [],
   :date "Ke 31.12",
   :date_en "Wed 31.12",
   :date_sv "Ons 31.12",
   :message nil}
  {:data [],
   :date "To 01.01",
   :date_en "Thu 01.01",
   :date_sv "Tors 01.01",
   :message nil}
  {:data [],
   :date "Pe 02.01",
   :date_en "Fri 02.01",
   :date_sv "Fre 02.01",
   :message nil}
  {:data [],
   :date "La 03.01",
   :date_en "Sat 03.01",
   :date_sv "Lör 03.01",
   :message nil}
  {:data [],
   :date "Su 04.01",
   :date_en "Sun 04.01",
   :date_sv "Sön 04.01",
   :message nil}
  {:data [],
   :date "Ma 05.01",
   :date_en "Mon 05.01",
   :date_sv "Mån 05.01",
   :message nil}
  {:data [],
   :date "Ti 06.01",
   :date_en "Tue 06.01",
   :date_sv "Tis 06.01",
   :message nil}
  {:data [],
   :date "Ke 07.01",
   :date_en "Wed 07.01",
   :date_sv "Ons 07.01",
   :message nil}
  {:data [],
   :date "To 08.01",
   :date_en "Thu 08.01",
   :date_sv "Tors 08.01",
   :message nil}
  {:data [],
   :date "Pe 09.01",
   :date_en "Fri 09.01",
   :date_sv "Fre 09.01",
   :message nil}
  {:data [],
   :date "La 10.01",
   :date_en "Sat 10.01",
   :date_sv "Lör 10.01",
   :message nil}
  {:data [],
   :date "Su 11.01",
   :date_en "Sun 11.01",
   :date_sv "Sön 11.01",
   :message nil}],
 :information
 {:address "Kaisaniemenranta 2",
  :bistro
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :name "",
   :regular
   [{:close "",
     :open "",
     :when [false false false false false false false]}]},
  :business
  {:exception
   [{:close nil,
     :closed false,
     :from "10.12",
     :open nil,
     :to "19.12"}],
   :regular
   [{:close "17:00",
     :open "13:00",
     :when ["Ma" "Ti" "Ke" "To" "Pe" false false]}]},
  :city "Helsinki",
  :description
  "Esteettömys<br />- sisäänkäynti : Kaisaniemenranta 2 , liuska sisääntuloon pyydettäessä.<br />- inva-wc : on",
  :description_en
  "Disabled access<br />-entrance : Kaisaniemenranta 2, ramp is available on request.<br />-WC for disabled : yes",
  :description_sv
  "Tillgänglighet för funktionshindrade<br />-ingång : Kaisaniemistranden 2, tillång till ramp för rullstol. Vänligen kontakta personalen.<br />- toalett tillgänglig för funktioshindrade.",
  :ilta nil,
  :lounas
  {:exception
   [{:close nil,
     :closed false,
     :from "10.12",
     :open nil,
     :to "19.12"}],
   :regular
   [{:close "17:00",
     :open "13:00",
     :when ["Ma" "Ti" "Ke" "To" "Pe" false false]}]},
  :restaurant "Viola",
  :zip "00100"},
 :status "OK"}
