{:data
 [{:data [],
   :date "Ma 29.12",
   :date_en "Mon 29.12",
   :date_sv "Mån 29.12",
   :message nil}
  {:data [],
   :date "Ti 30.12",
   :date_en "Tue 30.12",
   :date_sv "Tis 30.12",
   :message nil}
  {:data [],
   :date "Ke 31.12",
   :date_en "Wed 31.12",
   :date_sv "Ons 31.12",
   :message nil}
  {:data [],
   :date "To 01.01",
   :date_en "Thu 01.01",
   :date_sv "Tors 01.01",
   :message nil}
  {:data [],
   :date "Pe 02.01",
   :date_en "Fri 02.01",
   :date_sv "Fre 02.01",
   :message nil}
  {:data [],
   :date "La 03.01",
   :date_en "Sat 03.01",
   :date_sv "Lör 03.01",
   :message nil}
  {:data [],
   :date "Su 04.01",
   :date_en "Sun 04.01",
   :date_sv "Sön 04.01",
   :message nil}
  {:data [],
   :date "Ma 05.01",
   :date_en "Mon 05.01",
   :date_sv "Mån 05.01",
   :message nil}
  {:data [],
   :date "Ti 06.01",
   :date_en "Tue 06.01",
   :date_sv "Tis 06.01",
   :message nil}
  {:data [],
   :date "Ke 07.01",
   :date_en "Wed 07.01",
   :date_sv "Ons 07.01",
   :message nil}
  {:data [],
   :date "To 08.01",
   :date_en "Thu 08.01",
   :date_sv "Tors 08.01",
   :message nil}
  {:data [],
   :date "Pe 09.01",
   :date_en "Fri 09.01",
   :date_sv "Fre 09.01",
   :message nil}
  {:data [],
   :date "La 10.01",
   :date_en "Sat 10.01",
   :date_sv "Lör 10.01",
   :message nil}
  {:data [],
   :date "Su 11.01",
   :date_en "Sun 11.01",
   :date_sv "Sön 11.01",
   :message nil}],
 :information
 {:address "Fabianinkatu 33 ( 2.krs )",
  :bistro
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :name "Bistro",
   :regular
   [{:close "16:00",
     :open "12:00",
     :when [false false false false false false false]}]},
  :business
  {:exception
   [{:close "", :closed true, :from "15.12", :open "", :to "11.1"}
    {:close nil, :closed true, :from "", :open nil, :to ""}
    {:close nil, :closed false, :from nil, :open nil, :to nil}],
   :regular
   [{:close "14:00",
     :open "11:00",
     :when ["Ma" "Ti" "Ke" "To" "Pe" false false]}]},
  :city "Helsinki",
  :description
  "Esteettömyys<br />- sisäänkäynti : pääovien yhteydessä erikseen sisäänkäynti liikkumisesteisille, automaattiovet.<br />- inva-wc sisäänkäyntiä viistosti vastapäätä ilmoitustaulujen lähellä, vahtimestarit aukaisevat.",
  :description_en
  "Disabled access<br />- Entry: beside the main entrance a separate disabled entrance, automatic doors<br />- Disabled toilet: diagonally opposite the entrance near the notice boards, the porters will open the door.",
  :description_sv
  "Tillgänglighet för funktionshindrade<br />- ingång: skild ingång för rörelsehindrade i samband med huvudenträn, automatiska dörrar.<br />- inva-wc finns snett mot ingången i närheten av anslagstavlorna, vaktmästarna öppnar.",
  :ilta nil,
  :lounas
  {:exception [{:close "", :closed false, :from "", :open "", :to ""}],
   :regular
   [{:close "14:00",
     :open "11:00",
     :when ["Ma" "Ti" "Ke" "To" "Pe" false false]}
    {:close "",
     :open "",
     :when
     ["previous"
      "previous"
      "previous"
      "previous"
      "previous"
      false
      false]}]},
  :restaurant "Päärakennus Opettajien ravintola",
  :zip "00170"},
 :status "OK"}
