{:data
 [{:data [],
   :date "Ma 29.12",
   :date_en "Mon 29.12",
   :date_sv "Mån 29.12",
   :message nil}
  {:data [],
   :date "Ti 30.12",
   :date_en "Tue 30.12",
   :date_sv "Tis 30.12",
   :message nil}
  {:data [],
   :date "Ke 31.12",
   :date_en "Wed 31.12",
   :date_sv "Ons 31.12",
   :message nil}
  {:data [],
   :date "To 01.01",
   :date_en "Thu 01.01",
   :date_sv "Tors 01.01",
   :message nil}
  {:data [],
   :date "Pe 02.01",
   :date_en "Fri 02.01",
   :date_sv "Fre 02.01",
   :message nil}
  {:data [],
   :date "La 03.01",
   :date_en "Sat 03.01",
   :date_sv "Lör 03.01",
   :message nil}
  {:data [],
   :date "Su 04.01",
   :date_en "Sun 04.01",
   :date_sv "Sön 04.01",
   :message nil}
  {:data [],
   :date "Ma 05.01",
   :date_en "Mon 05.01",
   :date_sv "Mån 05.01",
   :message nil}
  {:data [],
   :date "Ti 06.01",
   :date_en "Tue 06.01",
   :date_sv "Tis 06.01",
   :message nil}
  {:data
   [{:ingredients
     "Vettä, perunaa, naudanlihaa (suomi), lanttua, porkkanaa, palsternakkaa, sipulia, persiljaa, maustepippuria, lihaliemijauhetta [glukoosisiirappi, suola, sokeri, lihauute [6,3 %], hiivauute, maltodekstriini, happo (sitruunahappo), palmurasva, väriaine (E 150c), mustapippuriaromi], laakerinlehteä.",
     :meta {:0 ["G" "L" "M" "[S]"], :1 [], :2 []},
     :name "Jauhelihakeittoa",
     :name_en "Minced meat soup",
     :name_sv "Köttfärssoppa",
     :nutrition
     "energiaa 59kcal (245 kJ), hiilihydraattia 5g, rasvaa 2g, proteiinia 5g.",
     :price
     {:name "Serpens Kevyesti",
      :value
      {:contract "5.18",
       :graduate "0.00",
       :graduate_hyy "4.30",
       :normal "7.00",
       :student "2.30",
       :student_hyy "2.30"}}}
    {:ingredients
     "Maitoa, haapa-, kangas- ja leppärouskua, osterivinokasta, vettä, suolaa, sitruunahappoa, sipulia, kasvirasvavalmistetta [sis. vettä, maitoa, rypsiöljyä, kovetettua kasvirasvaa, muunneltua tärkkelystä, emulgointiainetta (E472e kasvirasvapohjainen), stabilointiainetta (guarkumia), maltodekstriinia, sokeria, happamuudensäätöainetta (natriumsitraatit), laktaasientsyymiä, aromia, väriä (betakaroteenia)], vehnäjauhoa, kasvimargariinia, suolaa, valkopippuria.",
     :meta {:0 ["K"], :1 [], :2 []},
     :name "Metsäsienikeittoa",
     :name_en "Forest mushroom soup",
     :name_sv "Skogssvampssoppa",
     :nutrition
     "energiaa 82kcal (341 kJ), hiilihydraattia 7g, rasvaa 4g, proteiinia 3g",
     :price
     {:name "LVM Keittolounas",
      :value
      {:contract "0.00",
       :graduate "0.00",
       :graduate_hyy "0.00",
       :normal "6.10",
       :student "0.00",
       :student_hyy "0.00"}}}
    {:ingredients
     "Maitoa, mousseainesta (sokeria, maitojauhetta, glukoosisiirappia [vehnästä], kovetettua kasvirasvaa, glukoosia, liivatetta, emulgointiaineita[E471, E472a], muunneltua tärkkelystä, maitoproteiinia, happamuudensäätöaineita [sitruunahappoa, E331], stabilointiainetta [ 340], vanilliiniaromia, eläinrasvaa], kahvia, sokeria, suklaata.",
     :meta {:0 [], :1 [], :2 []},
     :name "Cappuccino-mousse",
     :name_en "Cappuccino mousse",
     :name_sv "Cappuccino mousse",
     :nutrition
     "energiaa 190ckal (797kJ), hiilihydraattia 26g, rasvaa 2g, proteiinia 6g.",
     :price
     {:name "Serpens Makeasti",
      :value
      {:contract "1.30",
       :graduate "0.00",
       :graduate_hyy "0.00",
       :normal "1.30",
       :student "1.30",
       :student_hyy "0.00"}}}],
   :date "Ke 07.01",
   :date_en "Wed 07.01",
   :date_sv "Ons 07.01",
   :message nil}
  {:data
   [{:ingredients
     "Luomu hernettä, vettä, sianlihaa (suomi), lihaliemijauhetta, suolaa, meiramia, sinappia",
     :meta {:0 ["G" "L" "M" "[S]"], :1 [], :2 []},
     :name "Hernekeittoa luomuherneestä ja pannukakkua",
     :name_en "Peasoup with pancake",
     :name_sv "Ärtsoppa med pankaka",
     :nutrition
     "energiaa 106kcal (442kJ), hiilihydraattia 13g, rasvaa 3g, proteiinia 6g.",
     :price
     {:name "Serpens Lounas",
      :value
      {:contract "6.48",
       :graduate "0.00",
       :graduate_hyy "4.60",
       :normal "9.00",
       :student "2.60",
       :student_hyy "2.60"}}}
    {:ingredients
     "Maitoa, vehnäjauhoja, sokeria, kananmunaa, margariinia, mansikkaa, omenasosetta, mustaherukkaa, hyytelöimisainetta (E 440), happamuudensäätöainetta (E 330), säilöntäainetta (E 202).",
     :meta {:0 ["K"], :1 [], :2 []},
     :name "pannukakkua ja hilloa",
     :name_en "panncake with jam",
     :name_sv "pannkaka och sylt",
     :nutrition
     "energiaa 186kcal (778kJ), hiilihydraattia 32g, rasvaa 3,5g, proteiinia 6g.",
     :price
     {:name "Serpens Makeasti",
      :value
      {:contract "1.30",
       :graduate "0.00",
       :graduate_hyy "0.00",
       :normal "1.30",
       :student "1.30",
       :student_hyy "0.00"}}}],
   :date "To 08.01",
   :date_en "Thu 08.01",
   :date_sv "Tors 08.01",
   :message nil}
  {:data
   [{:ingredients
     "Perunaa, lanttua, selleriä, palsternakkaa, vettä, maitoa, kasvisliemijauhetta [kasvikset (porkkana, palsternakka, sipuli, purjosipuli), suola, hiivauute, palmurasva, glukoosisiirappi, persiljauute, kurkuma, mustapippuriaromi, riisijauho, maltodekstriini], suolaa, valkopippuria, kasvirasvavalmistetta [sis. vettä, maitoa, rypsiöljyä, kovetettua kasvirasvaa, muunneltua tärkkelystä, emulgointiainetta (E472e kasvirasvapohjainen), stabilointiainetta (guarkumia), maltodekstriinia, sokeria, happamuudensäätöainetta (natriumsitraatit), laktaasientsyymiä, aromia, väriä (betakaroteenia)], persiljaa.",
     :meta {:0 ["G" "K" "[S]" "SE"], :1 ["selleriä"], :2 []},
     :name "Juuressosekeittoa",
     :name_en "Puréed root vegetable soup",
     :name_sv "Rotsakspurésoppa",
     :nutrition
     "energiaa 60kcal (250kJ), hiilihydraattia 8g, rasvaa 2g, proteiinia 2g.",
     :price
     {:name "Serpens Kevyesti",
      :value
      {:contract "5.18",
       :graduate "0.00",
       :graduate_hyy "4.30",
       :normal "7.00",
       :student "2.30",
       :student_hyy "2.30"}}}
    {:ingredients
     "Raparperia, kauraa, margariinia, vaniljakastiketta (rasvatonta maitoa, kasvirasvaa (kovetettu), sokeria, rasvatonta maitojauhetta, emulgointiaineita (E 472b, E 472e), aromia (vanilliini), laktaasientsyymiä, stabilointiaineita (johanneksenleipäpuujauhe, E 407), väriä (betakaroteeni)), fariinisokeria",
     :meta {:0 ["K" "VL"], :1 [], :2 []},
     :name "Kaura-raparperipaistosta, vaniljakastiketta",
     :name_en "Oat- rhubarbpie, vanillasauce",
     :name_sv "Havre-rabarberpaj, vaniljasås",
     :nutrition
     "Ravintoarvo 100g/ energiaa 258kcal (1080kj), hiilihydraattia 25g, rasvaa 15g, proteiinia 4g",
     :price
     {:name "Serpens Makeasti",
      :value
      {:contract "1.30",
       :graduate "0.00",
       :graduate_hyy "0.00",
       :normal "1.30",
       :student "1.30",
       :student_hyy "0.00"}}}],
   :date "Pe 09.01",
   :date_en "Fri 09.01",
   :date_sv "Fre 09.01",
   :message nil}
  {:data [],
   :date "La 10.01",
   :date_en "Sat 10.01",
   :date_sv "Lör 10.01",
   :message nil}
  {:data [],
   :date "Su 11.01",
   :date_en "Sun 11.01",
   :date_sv "Sön 11.01",
   :message nil}],
 :information
 {:address "Fabianinkatu 2",
  :bistro
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :name "",
   :regular
   [{:close "",
     :open "",
     :when [false false false false false false false]}]},
  :business
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :regular
   [{:close "",
     :open "",
     :when [false false false false false false false]}]},
  :city "Helsinki",
  :description "Pääesikunta ja puolustusministeriö",
  :description_en nil,
  :description_sv nil,
  :ilta
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :regular
   [{:close "",
     :open "",
     :when [false false false false false false false]}]},
  :lounas
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :regular
   [{:close "",
     :open "",
     :when [false false false false false false false]}]},
  :restaurant "Paviljonki",
  :zip "00100"},
 :status "OK"}
