{:data
 [{:data [],
   :date "Ma 29.12",
   :date_en "Mon 29.12",
   :date_sv "Mån 29.12",
   :message nil}
  {:data [],
   :date "Ti 30.12",
   :date_en "Tue 30.12",
   :date_sv "Tis 30.12",
   :message nil}
  {:data [],
   :date "Ke 31.12",
   :date_en "Wed 31.12",
   :date_sv "Ons 31.12",
   :message nil}
  {:data [],
   :date "To 01.01",
   :date_en "Thu 01.01",
   :date_sv "Tors 01.01",
   :message nil}
  {:data [],
   :date "Pe 02.01",
   :date_en "Fri 02.01",
   :date_sv "Fre 02.01",
   :message nil}
  {:data [],
   :date "La 03.01",
   :date_en "Sat 03.01",
   :date_sv "Lör 03.01",
   :message nil}
  {:data [],
   :date "Su 04.01",
   :date_en "Sun 04.01",
   :date_sv "Sön 04.01",
   :message nil}
  {:data [],
   :date "Ma 05.01",
   :date_en "Mon 05.01",
   :date_sv "Mån 05.01",
   :message nil}
  {:data [],
   :date "Ti 06.01",
   :date_en "Tue 06.01",
   :date_sv "Tis 06.01",
   :message nil}
  {:data [],
   :date "Ke 07.01",
   :date_en "Wed 07.01",
   :date_sv "Ons 07.01",
   :message nil}
  {:data [],
   :date "To 08.01",
   :date_en "Thu 08.01",
   :date_sv "Tors 08.01",
   :message nil}
  {:data [],
   :date "Pe 09.01",
   :date_en "Fri 09.01",
   :date_sv "Fre 09.01",
   :message nil}
  {:data [],
   :date "La 10.01",
   :date_en "Sat 10.01",
   :date_sv "Lör 10.01",
   :message nil}
  {:data [],
   :date "Su 11.01",
   :date_en "Sun 11.01",
   :date_sv "Sön 11.01",
   :message nil}],
 :information
 {:address "Vuorikatu 3",
  :bistro
  {:exception
   [{:close nil, :closed false, :from nil, :open nil, :to nil}],
   :name "",
   :regular
   [{:close "",
     :open "",
     :when [false false false false false false false]}]},
  :business
  {:exception
   [{:close "16:00",
     :closed true,
     :from "20.12",
     :open "08:30",
     :to "11.1"}],
   :regular
   [{:close "19:00",
     :open "08:30",
     :when ["Ma" "Ti" "Ke" "To" false false false]}
    {:close "18:00",
     :open "08:30",
     :when
     ["previous" "previous" "previous" "previous" "Pe" false false]}]},
  :city "Helsinki",
  :description
  "Esteettömys<br />- sisäänkäynti : Vuorikadun ja Fabianinkadun puolelta, hissi.",
  :description_en
  "Disabled access<br />-entry from : Vuorikadun and Fabianinkadun side, elevator available.",
  :description_sv
  "Tillgänglighet för funktionshindrade<br />-entré via ingången från Berggatan.",
  :ilta nil,
  :lounas
  {:exception
   [{:close "16:00",
     :closed true,
     :from "20.12",
     :open "11:00",
     :to "12.1"}],
   :regular
   [{:close "18:00",
     :open "11:00",
     :when ["Ma" "Ti" "Ke" "To" "Pe" false false]}]},
  :restaurant "Cafe Portaali",
  :zip "00170"},
 :status "OK"}
