
BODY {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color : #000000;
}

A {
	color: #458AD7;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

TH.cafe {
	background-color: #E4E4E4;
	border: 1px solid #AAAAAA;
	padding: 2px 2em 2px 2em;
}

TD.menu {
	background-color: #F4F4F4;
	border: 1px solid #AAAAAA;
	padding: 1ex;
}

TD.menu_highlight {
	background-color: #D7E8F6;
	border: 1px solid #AAAAAA;
	padding: 1ex;
}

P.copyright {
	color: #999999;
}