
BODY, TABLE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color : #000000;
}

A {
	color: #458AD7;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

H1 A, A:hover {
	color: #000000;
	text-decoration: none;
}

TH.cafe {
	background-color: #E4E4E4;
	border: 1px solid #AAAAAA;
	padding: 5px 2em 5px 2em;
	white-space: nowrap;
}

SPAN.timetable {
	font-weight: normal;
	font-size: 11px;
}

TD.menu {
	background-color: #F4F4F4;
	border: 1px solid #AAAAAA;
	padding: 1ex;
}

TD.menu_highlight {
	background-color: #D7E8F6;
	border: 1px solid #AAAAAA;
	padding: 1ex;
}

TD.menu_empty {
	background-color: #F9F9F9;
	height: 6ex;
}

P.copyright {
	color: #999999;
}

INPUT.button {
	background-color: #E4E4E4;
	border: 1px solid #AAAAAA;
	margin-top: 1.5ex;
	margin-bottom: 0.5ex;
}

SPAN.note {
	font-size: 11px;
	color: #666666;
}