<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>VarjoCafe</title>
    <meta name="description" content="Ruokalistat kaikista HYY-opiskelijaravintoloista yhdellä silmäyksellä">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</head>
<body>

<h1>VarjoCafe</h1>

<blockquote style="font-style: italic;">
    Huom! VarjoCafea ollaan paraikaa uudistamassa tukemaan UniCafen uudistunutta sivustoa.
    Kaikki näyttää vielä melko kököltä, mutta sitä parannetaan pala kerrallaan.
</blockquote>

<table>
    <tr class="date-row">
        <td></td>
        <td class="date-column"><span class="date">${date}</span></td>
    </tr>
    <tr data-area-id="" class="area-row collapsed" style="display: none">
        <td class="area-name" colspan="2"><i class="fa fa-caret-right fa-fw"></i>${area-name}</td>
    </tr>
    <tr data-area-id="" class="area-row expanded">
        <td class="area-name" colspan="2"><i class="fa fa-caret-down fa-fw"></i>${area-name}</td>
    </tr>
    <tr data-restaurant-id="" class="restaurant-row collapsed" style="display: none">
        <td class="restaurant-name"><i class="fa fa-caret-right fa-fw"></i>${restaurant-name}</td>
        <td class="menu"></td>
    </tr>
    <tr data-restaurant-id="" class="restaurant-row expanded">
        <td class="restaurant-name"><i class="fa fa-caret-down fa-fw"></i>${restaurant-name}</td>
        <td class="menu">
            <span class="food">${food}</span>
        </td>
    </tr>
</table>

<ul class="fa-ul">
    <li><i class="fa-li fa fa-external-link"></i><a
            href="http://www.hyyravintolat.fi/">HYY Ravintolat</a></li>
    <li><i class="fa-li fa fa-external-link"></i><a
            href="https://github.com/orfjackal/varjocafe/issues">Ilmoita virheestä tai anna parannusehdotus</a></li>
    <li><i class="fa-li fa fa-external-link"></i><a
            href="http://ylioppilaslehti.fi/2005/09/unicafen-sivut-hakkeroitiin-paremmiksi/">Luomistarina</a></li>
    <li><i class="fa-li fa fa-external-link"></i><a
            href="https://github.com/orfjackal/varjocafe">Lähdekoodit</a></li>
</ul>

<p class="copyright">
    VarjoCafe on epävirallinen käyttöliittymä HYY Ravintoloiden lounaslistoille
    <br>Copyright © 2005-2015 <a href="http://www.orfjackal.net/">Esko Luontola</a>
</p>

</body>
</html>
