<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>VarjoCafe</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>VarjoCafe</h1>

<blockquote style="font-style: italic;">
    Huom! VarjoCafea ollaan paraikaa uudistamassa tukemaan UniCafen uudistunutta sivustoa.
    Kaikki näyttää vielä melko kököltä, mutta sitä parannetaan pala kerrallaan.
</blockquote>

<table>
    <tr class="date-row">
        <td></td>
        <td class="date"></td>
    </tr>
    <tr class="restaurant-row">
        <td class="restaurant-name"></td>
        <td class="menu">
            <span class="food"></span>
        </td>
    </tr>
</table>

<hr>

<p class="copyright">
    VarjoCafe on epävirallinen käyttöliittymä HYY Ravintoloiden lounaslistoille
    <br>Copyright © 2005-2014 <a href="http://www.orfjackal.net/">Esko Luontola</a>
</p>

<p><a href="https://github.com/orfjackal/varjocafe/issues">Ilmoita virheestä tai anna parannusehdotus</a></p>

</body>
</html>
