h1 {
    float: left;
    padding-left: 1ex;
}

.tagline {
    font-size: 40%;
}

@media screen and (max-width: 830px) {
    .tagline {
        display: none;
    }
}

#sponsors {
    float: right;
    padding: 10px;
}

ul#navigation {
    clear: right;
    float: right;
    list-style-type: none;
    margin: 0 0 0.5em;
    padding: 0;
}

ul#navigation li {
    display: inline;
    padding: 0.3em;
}

table#restaurants {
    clear: both;
    border-spacing: 0;
    width: 100%;
}

table#restaurants td {
    border-bottom: 1px solid #ccc;
}

.date {
    font-weight: bold;
    white-space: nowrap;
}

.today {
    border: 3px solid #f33;
    border-radius: 50%;
    padding: 0.4em;
}

.area-row {
    background-color: #eee;
}

.area-row:hover {
    cursor: pointer;
    color: #00f;
}

.area-name {
    font-weight: bold;
    font-style: italic;
    font-size: 120%;
}

.restaurant-row td {
    vertical-align: text-top;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.restaurant-row.collapsed:hover, .restaurant-row.expanded .restaurant-name:hover {
    cursor: pointer;
    color: #00f;
}

.restaurant-name {
    display: block;
    font-weight: bold;
}

.restaurant-address {
    display: block;
    margin-left: 21px;
    font-size: 85%;
}

.opening-times {
    margin: 0.5ex 0;
    font-size: 85%;
}

.opening-times dt {
    float: left;
    clear: left;
    width: 9.5ex;
    text-align: right;
    font-weight: bold;
}

.opening-times dd {
    margin: 0 0 0.5ex 11ex;
}

.opening-times dd:after {
    content: '';
    display: block;
    clear: both;
}

.opening-times .dates {
    display: block;
    float: left;
    min-width: 6.5ex;
    padding-right: 1ex;
}

.opening-times .times {
    display: block;
    float: left;
}

.exception {
    display: block;
    color: #ffffff;
    background-color: #ff69b4;
    text-align: center;
    padding: 2px;
    margin: 0 0.2em 0.2em;
    border-radius: 3px;
}

.food {
    display: block;
    padding-bottom: 0.2em;
}

.price {
    display: inline;
    padding-left: 1ex;
    font-size: 80%;
    color: #ccc;
}

.allergens {
    display: block;
    font-size: 80%;
    color: #aaa;
}

#external-links {
    padding-left: 1em;
}

#copyright {
    font-style: italic;
    padding-left: 1em;
    padding-bottom: 1em;
}

@media only screen and (max-width: 500px) {

    /* vertical layout instead of a table */
    table#restaurants td {
        display: block;
    }

    /* date selector */
    .date-row {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #eee;
        padding: 5px 8px 2px;
        z-index: 10;
    }

    .date-row td {
        border: 0 !important;
    }

    .date-row .date-column {
        display: inline !important;
        line-height: 20px;
    }

    body {
        margin-top: 40px !important;
    }

    /* dates */
    .date-column:hover {
        cursor: pointer;
        color: #00f;
    }

    .date-column.selected {
        color: #00f;
    }

    .date-column:not(.selected) {
        font-size: 80%;
    }

    /* menus */
    .menu {
        padding-left: 1.5em;
    }

    .menu:not(.selected) {
        display: none !important;
    }

    .restaurant-row.collapsed .menu {
        display: none !important;
    }

    /* restaurant address and opening times: hide */
    /* TODO: make the address and opening times visible with a click of button */
    .restaurant-address {
        display: none;
    }

    .opening-times {
        display: none;
    }
}

@media print {
    .area-row.collapsed,
    .restaurant-row.collapsed,
    .area-name .fa,
    .restaurant-name .fa,
    #navigation,
    #external-links,
    #sponsors,
    #copyright {
        display: none;
    }

    td,
    .food,
    .opening-times {
        page-break-inside: avoid;
    }

    .area-row td {
        page-break-after: avoid;
    }
}
