table#restaurants {
    border-spacing: 0;
    width: 100%;
}

table#restaurants td {
    border-bottom: 1px solid #ccc;
}

.date {
    font-weight: bold;
}

.today {
    border: 3px solid #f33;
    border-radius: 50%;
    padding: 0.4em;
}

.area-row {
    background-color: #eee;
}

.area-row:hover {
    cursor: pointer;
    color: #00f;
}

.area-name {
    font-weight: bold;
    font-style: italic;
    font-size: 120%;
}

.restaurant-row td {
    vertical-align: text-top;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.restaurant-row.collapsed:hover, .restaurant-row.expanded .restaurant-name:hover {
    cursor: pointer;
    color: #00f;
}

.restaurant-name {
    display: block;
    font-weight: bold;
}

.restaurant-address {
    display: block;
    margin-left: 21px;
    font-size: 85%;
}

.opening-times {
    margin: 0.5ex 0;
    font-size: 85%;
}

.opening-times dt {
    float: left;
    clear: left;
    width: 9.5ex;
    text-align: right;
    font-weight: bold;
}

.opening-times dd {
    margin: 0 0 0.5ex 11ex;
}

.opening-times dd:after {
    content: '';
    display: block;
    clear: both;
}

.opening-times .dates {
    display: block;
    float: left;
    min-width: 6.5ex;
    padding-right: 1ex;
}

.opening-times .times {
    display: block;
    float: left;
}

.exception {
    display: block;
    color: #ffffff;
    background-color: #ff69b4;
    text-align: center;
    padding: 2px;
    margin: 0 0.2em 0.2em;
    border-radius: 3px;
}

.food {
    display: block;
    padding-bottom: 0.2em;
}

.price {
    display: inline;
    padding-left: 1ex;
    font-size: 80%;
    color: #ccc;
}

.allergens {
    display: block;
    font-size: 80%;
    color: #aaa;
}

#copyright {
    font-style: italic;
}

#sponsors {
    position: absolute;
    top: 10px;
    right: 10px;
}
