/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* FONTIT */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://cafe.jiikax.net/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://cafe.jiikax.net/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/* VARJOCAFE */

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #333;
    background-color: #444;
}

a {
    color: #25ade0;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

a:hover {
    color: #045e7f;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

th.cafe {
    background-color: #E4E4E4;
    border: 1px solid #AAAAAA;
    padding: 5px 2em 5px 2em;
    white-space: nowrap;
}

span.timetable {
    font-weight: normal;
    font-size: 11px;
}

td.menu {
    background-color: #F4F4F4;
    border: 1px solid #AAAAAA;
    padding: 1ex;
}

td.menu_highlight {
    background-color: #D7E8F6;
    border: 1px solid #AAAAAA;
    padding: 1ex;
}

.past td.menu {
    background-color: #F4F4F4;
    color: #999999;
    border: 1px solid #AAAAAA;
    padding: 1ex;
}

td.menu_empty {
    background-color: #F9F9F9;
    height: 10px;
}

div.menu_date {
    font-weight: bold;
}

div.food {
    margin-top: 0.4em;
}

p.copyright {
    /* deprecicated in 1.04 */
    color: #999999;
}

P.footer {
    color: #999999;
}
input[type="button"], input[type="submit"], button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

input.button {
    background-color: #E4E4E4;
    border: 1px solid #AAAAAA;
    margin: 20px 0;
    padding: 10px 15px;
}

span.note {
    font-size: 11px;
    color: #666666;
}

div.banner {
    /*	position: absolute; */
    float: right;
    top: 1em;
    right: 1em;
    padding: 0.5ex;
    background-color: #FFFFFF;
    border: 2px dashed #D7E8F6;
    width: 70%;
}

div.info {
    margin: 20px;
    padding: 20px;
    font-size: 13px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}


.tooltip {
    position: absolute;
    display: none;
    background-color: #DDDDDD;
    border: 1px solid #999999;
    white-space: nowrap;
}

/* formatting of html snippets from unicafe.fi */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin: 7px 0;
}

.menu b,
.menu_highlight b {
    font-size: 14px;
}

.lunchtime {
    white-space: pre;
    margin: 0 0 5px;
}

.lunchtime strong {
    display: block;
}

.cafe h4 {
    margin: 2px;
}

.price {
    font-size: 90%;
    font-style: italic;
    color: #999999;
}

.tooltip .dotline {
    border-top: 1px dotted #FFFFFF;
    height: 1px;
    margin: 0;
    padding: 0;
}

/* respocafe */

#controls {
    margin: 0 0 10px;
}

b {
    font-weight: 600;
}

header {
    background-color: #555;
}

h2, h3, h4 {
    line-height: 20px;
    font-size: 18px;
    margin: 5px 0 0;
}

header h1 {
    margin: 0;
    padding: 15px;
    font-size: 18px;
    line-height: 18px;
}
header h1 a {
    color: #eee;
}
header h1 a:hover {
    color: #ddd;
}

header button {
    float: right;
    margin: 5px 20px 0 0;
    padding: 10px;
}

section {
    display: flex;
}

nav {
    width: 20%;
    float: left;
    background-color: #eee;
}

nav form {
    padding: 20px;
}

a#infolink {
    position: relative;
    top: 15px;
}

article {
    width: 80%;
    background-color: #fcfcfe;
    padding: 10px 30px 30px;
} 

p.location {
    font-size: 14px;
    margin: 15px 0 5px;
}

p.restaurant {
    line-height: 24px;
    margin: 0 0 5px;
}

footer {
    color: #ccc;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}


#bottom_banner {
    border: 0;
    margin-top: 10px;
}

.loota {
    top: 1px;
    position: relative;
    display: inline-block;
    min-width: 30px;
}

.loota input[type="checkbox"] {
    margin: 0;
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

.loota label {
cursor: pointer;
width: 20px;
top: -16px;
border-radius: 10px;
border: 1px solid #CCC;
background: none repeat scroll 0% 0% #F1F1F1;
height: 20px;
position: absolute;
}

.loota label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  width: 11px;
  height: 7px;
  background: transparent;
  top: 5px;
  left: 3px;
  border: 3px solid #25ade0;
  border-top: none;
  border-right: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: opacity 0.25s ease;
}

.loota label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.loota input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.loota input[type=radio]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* TABLET & LARGE */


@media (min-width: 768px) {
    #toggle {
        display: none;
    }
}

/*--PHONE--*/
@media (max-width: 767px) {
    nav {
        display: none;
        float: none;
        font-size: 16px;
        line-height: 18px;
    }
    nav form p.restaurant a {
        padding: 3px;
        display: inline-block;
    }
    nav,
    article {
        width: 100%;
    }
    article {
        padding: 20px 0;
    }
    section {
        display: block;
    }
    /*
    td.menu {
        display: none;
    }
    */
    .tablewrap {
        overflow: scroll;
        max-width: 100%;
    }

    .loota {
        min-width: 40px;
    }

    .loota label {
      width: 30px;
      height: 30px;
      top: -22px;
      border-radius: 15px;
  }

  .loota label:after {
      width: 11px;
      height: 7px;
      top: 9px;
      left: 8px;
  }
  p.restaurant {
    line-height: 34px;
}


}